
<div class=" card shadow m-5">
    <div class="card-body">
        <h1 class="p-1 text-primary" style="border-bottom:2px solid gray; font-size:52px; background:white; text-align:center; font-family:Helvetica; margin-bottom:20px;">Welcome Back {{request.user.first_name}}</h1>
        <div class="container-fluid">
            <img src="https://thumbs.dreamstime.com/b/black-solid-icon-employee-applicant-man-logo-symbol-146530494.jpg" id="eimg" style="width:30%; height:80%; text-align:center;
padding-left:40%;">
        </div>
    </div>
</div>

<style>
    body{
  background-image:url('https://img.freepik.com/free-vector/abstract-halftone-background-theme_23-2148598184.jpg?w=2000');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    }
    #p-1{
    text-align: center;
    font-size: 40px;
    background: white;
    }
</style>